body {
	background-color: #f9f9f9;
}

h1 {
	font-size: 64px;
	font-style: italic;
	text-align: center;
	background-image: url("paris.jpg");
	background-position: center;
	color: transparent;
	background-clip: text;
}

h3{
	margin: 0;
}

#poem-wrapper {
	border-radius: 30px;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.7)
		),
		url("background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 30px auto;
	max-width: 900px;
	aspect-ratio: 16/9;
}
#poem-searchForm {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	border-style: none;
	gap: 5px;
}

.search {
	width: 15vw;
	line-height: 1.5;
	border-style: none;
}

.search:focus {
	background-color: #f7f4ef;
	outline: none;
}

.search::placeholder {
	color: black;
	opacity: 0.8;
}

.search-btn {
	background-color: #f2dda2;
	border-style: none;
	line-height: 2;
	width: 6vw;
	cursor: pointer;
}

.search-btn:hover{
  background-color:#343c2c;
}

.example{
  color:#343c2c;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
#poem {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  line-height: 2;
  font-family: "IM Fell French Canon", serif;
  font-weight: 550;
  font-style: italic;
 
}


footer {
	text-align: center;
  font-weight: 400;
}

a{
  color:#343c2c;
}